// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #007EA7;
$border-color: #003459;

$footer-background-color: #ffffff;

$background: #00171F;
$body-background-color: $background;

// Button
$button-color: $white;
$button-text-color: $white;
$button-background-color: $background;
$button-hover-color: $white;
$button-active-color: $white;
$button-focus-color: $white;
$button-focus-border-color: $white;


// Navbar
$navbar-background-color: $background;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;

// Table
$table-color: $white;
$table-background-color: $background;
$table-cell-heading-color: $white;
$table-row-hover-background-color: #001f2a;
$table-head-cell-color: $white;
$table-foot-cell-color: $white;
$table-cell-border-width: 0 0 0px;
$table-head-cell-border-width: 0 0 1px;
$table-cell-border: 0px solid $border-color;

// 6. Import the rest of Bulma
@import '~bulma'
